html, body, #compose-root {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color-scheme: dark;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body #toast-container > .toast-success {
    border: 3px solid  var(--toast-edge-color) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
    background-color: var(--toast-bg-color) !important;
    padding: 1.3rem 2.5rem 1.3rem 1.5rem !important;
    margin: 0 0.7rem 0.9rem 0 !important;
    background-image: none !important;
    border-radius: 12px !important;
    width: inherit !important;
}